body {
	width: 100%;
	height: 100vh;
	margin: auto;
	top: 0px !important;
	text-align: center;
	font-family: tahoma;
	color: white;
	background-color: #0b0c13;
}

body > .skiptranslate {
    display: none !important;
}

.title{
	text-align: left;
}

h1 {
	display: inline-block;
	margin: auto;
	padding: 10px;
}

img {
	display: inline-block;
	padding-left: 30px;
}

.navbar {
	display: flex;
	list-style-type: none;
	position: sticky;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1c2031;
}

.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
	background-color: #00b0ff;
}

li a:hover {
  background-color: #111;
}

.bold {
	font-weight: bold;
}

.link-img {
	max-height: 50px;
	border-radius: 12px;
	padding: 10px;
}

.flexbox1 {
	display: flex;
	margin: 10px;
	flex-wrap: wrap;
}

.flex-left {
	display: flex;
	flex-direction: column;
	flex: 75%;
	padding: 0;
	text-align: left;
}

.content-title {
	margin: 10px;
}

.greeting {
	margin: 10px;
	padding: 10px;
	background-color: #1c2031;
	border-radius: 12px;
}

.greeting > h2, h3 {
	margin: 0;
}

.flex-right {
	display: flex;
	flex-direction: column;
	flex: 25%;
	padding: 0;
}


.media {
	margin: 10px;
}

.revolt-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 75px;
	margin: 10px;
	background-color: #1c2031;
	border-radius: 12px;
}

.link-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
	background-color: #1c2031;
	border-radius: 12px;
}

.server-pic {
	margin-left: -20px;
}

.revolt-img {
	height: 60px;
	width: 60px;
}

.server-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.server-name {
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.join-box > p > a:link {
  background-color: #0b0c13;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin-bottom: 10px;
}

.join-box > p > a:visited {
	color: white;
}

@media (max-width: 1350px) {
	.flex-left, .flex-right {
	  flex: 100%;
	}
  }